<div *ngIf="isSystem" class="system-msg">{{ msg.text }}</div>

<div *ngIf="!isSystem" class="bubble">
  <div class="bubble-avatar" [class.bubble-avatar--support]="isSupport">
    <app-icon
      [svg]="isSupport ? iconHeadset : iconPerson"
      [size]="15"
      [style.color]="isSupport ? '#2a1f06' : 'var(--gold-1)'"
    ></app-icon>
  </div>

  <div class="bubble-body">
    <div class="bubble-head">
      <span class="bubble-sender" [class.bubble-sender--support]="isSupport">
        {{ senderName }}
      </span>
      <span class="bubble-time">{{ msg.t }}</span>
    </div>

    <div class="bubble-content" [class.bubble-content--support]="isSupport">
      <span *ngIf="msg.text">{{ msg.text }}</span>

      <div *ngIf="msg.file" class="file-card" [class.file-card--link]="msg.file.url">
        <app-icon [svg]="iconAttach" [size]="22" style="color:var(--gold-1)" class="file-icon"></app-icon>
        <div class="file-info">
          <div class="file-name">{{ msg.file.name }}</div>
          <div class="file-size">{{ msg.file.size }}</div>
        </div>
        <a *ngIf="msg.file.url" [href]="msg.file.url" target="_blank" rel="noopener" class="file-dl-btn">
          <app-icon [svg]="iconDownload" [size]="19" style="color:var(--gold-2)"></app-icon>
        </a>
        <span *ngIf="!msg.file.url" class="file-dl">
          <app-icon [svg]="iconDownload" [size]="19" style="color:#6f6757"></app-icon>
        </span>
      </div>
    </div>
  </div>
</div>

