<div class="bubble">
  <div class="bubble-avatar" [class.bubble-avatar--support]="isSupport">
    <app-icon
      [svg]="isSupport ? iconHeadset : iconPerson"
      [size]="15"
      [style.color]="isSupport ? '#2a1f06' : 'var(--gold-1)'"
    ></app-icon>
  </div>

  <div class="bubble-body">
    <div class="bubble-head">
      <span class="bubble-sender" [class.bubble-sender--support]="isSupport">
        {{ senderName }}
      </span>
      <span class="bubble-time">{{ msg.t }}</span>
    </div>

    <div class="bubble-content" [class.bubble-content--support]="isSupport">
      {{ msg.text }}

      <div *ngIf="msg.file" class="file-card">
        <app-icon [svg]="iconAttach" [size]="22" style="color:var(--gold-1)" class="file-icon"></app-icon>
        <div class="file-info">
          <div class="file-name">{{ msg.file.name }}</div>
          <div class="file-size">{{ msg.file.size }}</div>
        </div>
        <app-icon [svg]="iconDownload" [size]="19" style="color:var(--gold-2)" class="file-dl"></app-icon>
      </div>
    </div>
  </div>
</div>