<div class="ticket-row" (click)="open.emit(ticket.id)">
  <app-initials [text]="ticket.name" [size]="46" [tint]="tint"></app-initials>

  <div class="ticket-body">
    <div class="ticket-top">
      <span class="ticket-name">{{ ticket.name }}</span>
      <span class="ticket-time">{{ ticket.time }}</span>
    </div>
    <div class="ticket-subject">{{ ticket.subject }}</div>
    <div class="ticket-meta">
      <span class="meta-left">
        <span class="meta-cat">{{ ticket.cat }}</span>
        <span class="meta-dot"></span>
      </span>
      <app-ticket-status-badge [status]="ticket.status"></app-ticket-status-badge>
    </div>
  </div>
</div>