<div class="seat-badge" [class.seat-badge--right]="isRight">
  <div class="avatar-wrap">
    <img [src]="avatar" [alt]="name" class="avatar"/>
    <div class="num-badge" [class.num-badge--right]="isRight">{{ num }}</div>
  </div>

  <div class="info" [class.info--right]="isRight">
    <div class="name">{{ name }}</div>
    <div class="balance">{{ fmtBalance() }}</div>
    <div *ngIf="bet > 0" class="bet-row" [class.bet-row--right]="isRight">
      <img src="assets/chip-100.png" alt="" class="bet-chip"/>
      <span class="bet-amt">{{ bet }}</span>
    </div>
  </div>
</div>